body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  display: flex;
  background-color: #144272;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  color: #FFFBEB;

}

.logo {
  font-size: 24px;
}

.header a {
  text-decoration: none;
  color: #FFFBEB;
}

.header a:hover {
  color: #2C74B3;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.introduction {}

.search {}