@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

/* index */
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #EDEEF7;
  display: flex;
  flex-direction: column;
  flex-grow: 1 1 auto;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
}

.header {
  display: flex;
  background-color: #144272;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 20px;
  color: #FFFBEB;
}

.logo {
  font-size: 24px;
  margin-right: auto;
}

.header a {
  text-decoration: none;
  color: #FFFBEB;
}

.header a:hover {
  color: #2C74B3;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.introduction {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  gap: 15px;
  flex-grow: 0 1 auto;
}

.big-font {
  font-weight: 800;
  font-size: 24px;
  color: #4E6E81;
}

.small-font {
  font-size: 16px;
  color: #D8D8D8;
  font-weight: 800;
}

.hello {
  border-radius: 5px;
  background-color: #F9F9F9;
  width: 350px;
  height: 150PX;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.search {
  border-radius: 5px;
  background-color: #F9F9F9;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-bar {
  width: 100%;
  max-width: 250px;
  background: #D8D8D8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  padding: 0px 20px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  color: #7F8487;
}

::placeholder {
  color: #7F8487;
}

.search-bar button img {
  width: 20px;
}


.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.footer {
  height: 5vh;
  background-color: #144272;
  color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

/* table styling */

table {
  border-collapse: collapse;
  margin: 40px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  /* align-self: center; */
}

table thead tr {
  background-color: #144272;
  color: #EDEEF7;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #D8D8D8;
  background-color: white;
}


/* den einai arithmimena */
/* table tbody tr:nth-of-type(even) {
  background-color: #144272;
} */

table tbody tr:last-of-type {
  border-bottom: 2px solid #144272;
}

/* patient status */

.patient {
  display: flex;
}

.patient-info {
  border-radius: 5px;
  background-color: #F9F9F9;
  margin: 40px;
}

/* .patient-info table {} */

.patient-current-stage {
  border-radius: 5px;
  background-color: #F9F9F9;
  margin: 40px;
}

.patient-current-stage img {
  height: 500px;
  width: auto;
}

/* Landing page*/
.landing-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 40px;
  padding-left: 40px;

}

.landing-middle .big-font {
  width: 300px;
}

.middle-options {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  gap: 30px;
}

.middle-options img {
  height: 100px;
  width: auto;

}

.middle-options a {
  text-decoration: none;
  color: #000;
}


.options {
  border-radius: 25px;
  border: 4px solid #144272;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
}

/* form pages */
.wrapper {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  padding: 10px;
  margin-top: 50px;
  margin-left: 10px;
  border-radius: 3px;
}

.wrapper .big-font {
  font-size: 24px;
  padding-bottom: 10px;
}

.wrapper .form {
  width: 100%;
}

.wrapper .form .input_field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .input_field label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .input_field .input {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.button {
  background-color: #3882F6;
  border: none;
  font-weight: bold;
  color: #F9FAF8;
  font-size: 16px;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  padding: 0;
}

.button {
  border: 2px solid #F9FAF8;
}

.button:hover {
  background-color: #EDEEF7;
  color: #3882f6;
}