body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #EDEEF7;
}

.header {
  display: flex;
  background-color: #144272;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  color: #FFFBEB;

}

.logo {
  font-size: 24px;
}

.header a {
  text-decoration: none;
  color: #FFFBEB;
}

.header a:hover {
  color: #2C74B3;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.introduction {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.big-font {
  font-weight: 800;
  font-size: 24px;
}

.small-font {
  font-size: 16px;
}

.hello {
  border-radius: 5px;
  background-color: #F9F9F9;
  width: 350px;
  height: 150PX;
  padding-left: 10px;
}

.search {
  border-radius: 5px;
  background-color: #144272;
  width: 350px;
}